*,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
}

h4 {
    margin: 0px;
}

::-webkit-scrollbar {
    width: 0px;
}

.cover {
    width: 100%;
    height: 200px;
    max-height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("img/cover.png");
    background-size: 100% 100%;
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    position: relative;
    margin-top: -15px;
}

.content-wrapper {
    background-color: #fff;
}

.div-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    width: 450px;
}

.header-menu {
    float: left;
    padding: 15px 15px;
    font-size: 25px;
}

.header-center {
    padding: 5px 5px;
}

.navbar{
    position: fixed;
    background-color: #000;
    width: 100%;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}

.fixed-footer {
    height: 60px;
}

.menu-footer {
    color: #333333;
    font-size: 20px;
}

.btn-social>:first-child {
    width: 25px;
    height: 25px;
    border-right: none;
    top: 4px;
    left: 6px;
}

.btn-login {
    color: #323232;
    background-color: #fdfdfd;
    border-color: #4cd964;
}

.btn-login {
    color: #323232;
    background-color: #fdfdfd;
    border-color: #4cd964;
    color: #323232;
    background-color: #fdfdfd;
    border-color: #323232;
}

.btn-login:hover {
    background-color: #f3f3f3;
}

.btn-login:active {
    background-color: #f3f3f3;
}

img {
    object-fit: cover;
    display: inline;
}

.img-even {
    height: 180px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.img-detail {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.img-gallery {
    height: 200px;
    width: 100%;
    border-radius: 15px;
}

.box {
    border-top: none;
    border-radius: 15px;
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, .08);
    -webkit-box-shadow: 0 5px 10px 1px rgba(0, 0, 0, .08);
    margin-bottom: 15px;
}

.box-footer {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.main-footer-login {
    background-color: #000;
    top: 0;
    width: 100%;
    z-index: 100;
    color: white;
    padding: 15px;
    border-color: #000;
    margin-bottom: -1px;
}

a.float {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 90px;
    right: 30px;
    background-color: #3c8dbc;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

a.float:hover {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.67);
}

.my-float {
    margin-top: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="number"],
textarea.form-control,
select.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
textarea.form-control:focus,
select.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.index-event {
    position: relative;
    min-height: 1px;
}

.mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
}

.btn {
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 21px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, .28);
    -moz-box-shadow: 0 0 40px 0 rgba(0, 0, 0, .28);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .22);
}

.cards {
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, .28);
    -moz-box-shadow: 0 0 40px 0 rgba(0, 0, 0, .28);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .22);
}

.mb {
    margin-bottom: 15px;
}

.cards {
    margin: 0px;
    padding: 0px;
    background-color: #fff;
}

.title {
    background-color: #fff;
    font-size: 13px;
    margin: 2px 1px;
    padding: 2px 1px;
}

p {
    margin: 2px 1px;
    padding: 2px 1px;
}

.round {
    border-radius: 10px;
    margin: 10px;
}

.red {
    background: #e74c3c;
    color: #fff;
}

.blue {
    background: #3498db;
    color: #fff;
}

.green {
    background: #2ecc71;
    color: #fff;
}

.label {
    border-radius: 15px;
}

.img-detail-preview {
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    height: 85px;
}

.box-title {
    font-weight: bold;
}

.comment {
    background-color: #ebedf0;
    border-radius: 18px;
    display: inline-block;
    line-height: 16px;
    margin-top: 0;
    min-width: 0;
    overflow: hidden;
    padding: 6px 12px 7px 12px;
}

.img-gallery-view {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}